Test-Command: /usr/share/dh-rust/bin/cargo-auto-test json-from-wast 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-json-from-wast:@,
Depends:
 dh-rust,
 librust-json-from-wast-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test json-from-wast 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-json-from-wast:,
Depends:
 dh-rust,
 librust-json-from-wast-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test json-from-wast 0.239.0
 --all-targets
Features:
 test-name=rust-json-from-wast:default,
Depends:
 dh-rust,
 librust-json-from-wast-0.239+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-compose 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-compose:@,
Depends:
 dh-rust,
 librust-glob-dev,
 librust-wasm-compose-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-compose 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-compose:,
Depends:
 dh-rust,
 librust-glob-dev,
 librust-wasm-compose-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-compose 0.239.0
 --all-targets
Features:
 test-name=rust-wasm-compose:default,
Depends:
 dh-rust,
 librust-glob-dev,
 librust-wasm-compose-0.239+default-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-metadata 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-metadata:@,
Depends:
 dh-rust,
 librust-wasm-metadata-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-metadata 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-metadata:,
Depends:
 dh-rust,
 librust-wasm-metadata-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-metadata 0.239.0
 --all-targets
Features:
 test-name=rust-wasm-metadata:default,
Depends:
 dh-rust,
 librust-wasm-metadata-0.239+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-metadata 0.239.0
 --all-targets --no-default-features --features oci
Features:
 test-name=rust-wasm-metadata:oci,
Depends:
 dh-rust,
 librust-wasm-metadata-0.239+oci-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-metadata 0.239.0
 --all-targets --no-default-features --features serde
Features:
 test-name=rust-wasm-metadata:serde,
Depends:
 dh-rust,
 librust-wasm-metadata-0.239+serde-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-mutate 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-mutate:@,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-wasm-mutate-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-mutate 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-mutate:,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-wasm-mutate-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-mutate 0.239.0
 --all-targets
Features:
 test-name=rust-wasm-mutate:default,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-wasm-mutate-0.239+default-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-shrink 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-shrink:@,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-wasm-shrink-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-shrink 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-shrink:,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-wasm-shrink-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-shrink 0.239.0
 --all-targets
Features:
 test-name=rust-wasm-shrink:default,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-wasm-shrink-0.239+default-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-smith 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-smith:@,
Depends:
 dh-rust,
 librust-wasm-smith-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-smith 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-smith:,
Depends:
 dh-rust,
 librust-wasm-smith-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-smith 0.239.0
 --all-targets
Features:
 test-name=rust-wasm-smith:default,
Depends:
 dh-rust,
 librust-wasm-smith-0.239+default-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-smith 0.239.0
 --all-targets --no-default-features --features component-model
Features:
 test-name=rust-wasm-smith:component-model,
Depends:
 dh-rust,
 librust-wasm-smith-0.239+component-model-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-smith 0.239.0
 --all-targets --no-default-features --features serde
Features:
 test-name=rust-wasm-smith:serde,
Depends:
 dh-rust,
 librust-wasm-smith-0.239+serde-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-smith 0.239.0
 --all-targets --no-default-features --features wasmparser
Features:
 test-name=rust-wasm-smith:wasmparser,
Depends:
 dh-rust,
 librust-wasm-smith-0.239+wasmparser-dev,
 librust-wasmprinter-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-tools:@,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-tools:,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets
Features:
 test-name=rust-wasm-tools:default,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features addr2line
Features:
 test-name=rust-wasm-tools:addr2line,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+addr2line-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features completion
Features:
 test-name=rust-wasm-tools:completion,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+completion-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features component
Features:
 test-name=rust-wasm-tools:component,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+component-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features compose
Features:
 test-name=rust-wasm-tools:compose,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+compose-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features demangle
Features:
 test-name=rust-wasm-tools:demangle,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+demangle-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features dump
Features:
 test-name=rust-wasm-tools:dump,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+dump-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features json-from-wast
Features:
 test-name=rust-wasm-tools:json-from-wast,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+json-from-wast-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features metadata
Features:
 test-name=rust-wasm-tools:metadata,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+metadata-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features mutate
Features:
 test-name=rust-wasm-tools:mutate,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+mutate-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features objdump
Features:
 test-name=rust-wasm-tools:objdump,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+objdump-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features parse
Features:
 test-name=rust-wasm-tools:parse,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+parse-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features print
Features:
 test-name=rust-wasm-tools:print,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+print-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features shrink
Features:
 test-name=rust-wasm-tools:shrink,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+shrink-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features smith
Features:
 test-name=rust-wasm-tools:smith,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+smith-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features strip
Features:
 test-name=rust-wasm-tools:strip,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+strip-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features validate
Features:
 test-name=rust-wasm-tools:validate,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+validate-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features wast
Features:
 test-name=rust-wasm-tools:wast,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+wast-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-tools 1.239.0
 --all-targets --no-default-features --features wit-smith
Features:
 test-name=rust-wasm-tools:wit-smith,
Depends:
 dh-rust,
 librust-libtest-mimic-dev,
 librust-wasm-tools-1+wit-smith-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-wave 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wasm-wave:@,
Depends:
 dh-rust,
 librust-wasm-wave-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-wave 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wasm-wave:,
Depends:
 dh-rust,
 librust-wasm-wave-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-wave 0.239.0
 --all-targets
Features:
 test-name=rust-wasm-wave:default,
Depends:
 dh-rust,
 librust-wasm-wave-0.239+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wasm-wave 0.239.0
 --all-targets --no-default-features --features wit
Features:
 test-name=rust-wasm-wave:wit,
Depends:
 dh-rust,
 librust-wasm-wave-0.239+wit-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-component 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wit-component:@,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-glob-dev,
 librust-libtest-mimic-dev,
 librust-wasmprinter-dev,
 librust-wit-component-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-component 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wit-component:,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-glob-dev,
 librust-libtest-mimic-dev,
 librust-wasmprinter-dev,
 librust-wit-component-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-component 0.239.0
 --all-targets
Features:
 test-name=rust-wit-component:default,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-glob-dev,
 librust-libtest-mimic-dev,
 librust-wasmprinter-dev,
 librust-wit-component-0.239+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-component 0.239.0
 --all-targets --no-default-features --features dummy-module
Features:
 test-name=rust-wit-component:dummy-module,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-glob-dev,
 librust-libtest-mimic-dev,
 librust-wasmprinter-dev,
 librust-wit-component-0.239+dummy-module-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-component 0.239.0
 --all-targets --no-default-features --features semver-check
Features:
 test-name=rust-wit-component:semver-check,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-glob-dev,
 librust-libtest-mimic-dev,
 librust-wasmprinter-dev,
 librust-wit-component-0.239+semver-check-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-component 0.239.0
 --all-targets --no-default-features --features wat
Features:
 test-name=rust-wit-component:wat,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-glob-dev,
 librust-libtest-mimic-dev,
 librust-wasmprinter-dev,
 librust-wit-component-0.239+wat-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-encoder 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wit-encoder:@,
Depends:
 dh-rust,
 librust-indoc-dev,
 librust-wit-encoder-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-encoder 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wit-encoder:,
Depends:
 dh-rust,
 librust-indoc-dev,
 librust-wit-encoder-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-encoder 0.239.0
 --all-targets
Features:
 test-name=rust-wit-encoder:default,
Depends:
 dh-rust,
 librust-indoc-dev,
 librust-wit-encoder-0.239+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-encoder 0.239.0
 --all-targets --no-default-features --features from-parser
Features:
 test-name=rust-wit-encoder:from-parser,
Depends:
 dh-rust,
 librust-indoc-dev,
 librust-wit-encoder-0.239+from-parser-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-encoder 0.239.0
 --all-targets --no-default-features --features serde
Features:
 test-name=rust-wit-encoder:serde,
Depends:
 dh-rust,
 librust-indoc-dev,
 librust-wit-encoder-0.239+serde-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-parser 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wit-parser:@,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-libtest-mimic-dev,
 librust-wit-parser-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-parser 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wit-parser:,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-libtest-mimic-dev,
 librust-wit-parser-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-parser 0.239.0
 --all-targets
Features:
 test-name=rust-wit-parser:default,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-libtest-mimic-dev,
 librust-wit-parser-0.239+default-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-parser 0.239.0
 --all-targets --no-default-features --features decoding
Features:
 test-name=rust-wit-parser:decoding,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-libtest-mimic-dev,
 librust-wit-parser-0.239+decoding-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-parser 0.239.0
 --all-targets --no-default-features --features serde
Features:
 test-name=rust-wit-parser:serde,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-libtest-mimic-dev,
 librust-wit-parser-0.239+serde-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-parser 0.239.0
 --all-targets --no-default-features --features wat
Features:
 test-name=rust-wit-parser:wat,
Depends:
 dh-rust,
 librust-env-logger-dev,
 librust-libtest-mimic-dev,
 librust-wit-parser-0.239+wat-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-smith 0.239.0
 --all-targets --all-features
Features:
 test-name=rust-wit-smith:@,
Depends:
 dh-rust,
 librust-wit-smith-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-smith 0.239.0
 --all-targets --no-default-features
Features:
 test-name=rust-wit-smith:,
Depends:
 dh-rust,
 librust-wit-smith-dev,
Restrictions:
 allow-stderr,

Test-Command: /usr/share/dh-rust/bin/cargo-auto-test wit-smith 0.239.0
 --all-targets
Features:
 test-name=rust-wit-smith:default,
Depends:
 dh-rust,
 librust-wit-smith-0.239+default-dev,
Restrictions:
 allow-stderr,
