Source: wasm-tools
Section: rust
Build-Depends:
 debhelper-compat (= 14),
 dh-sequence-bash-completion,
 dh-sequence-rust,
 cmark-gfm <!nodoc>,
 help2man,
 librust-addr2line-0.25-dev,
 librust-anyhow-1-dev,
 librust-arbitrary-1-dev,
 librust-auditable-serde-0.9-dev,
 librust-bitflags-2-dev,
 librust-blake3-1-dev,
 librust-bytesize-2-dev,
 librust-clap-complete-4-dev,
 librust-clap-4-dev,
 librust-comfy-table-7-dev,
 librust-cpp-demangle-0.5-dev,
 librust-egg-0.6-dev,
 librust-env-logger-0.11-dev,
 librust-flagset-0.4-dev,
 librust-flate2-1-dev,
 librust-gimli-0.32-dev,
 librust-glob-0.3-dev,
 librust-heck-0.5-dev,
 librust-id-arena-2-dev,
 librust-im-rc-15-dev,
 librust-indexmap-2-dev,
 librust-indoc-2-dev,
 librust-is-executable-1-dev,
 librust-itertools-0.14-dev,
 librust-libtest-mimic-dev (<< 0.9),
 librust-log-0.4-dev,
 librust-logos-0.15-dev,
 librust-petgraph-0.6-dev,
 librust-pretty-assertions-1-dev,
 librust-rand-0.10-dev,
 librust-rayon-1-dev,
 librust-regex-1-dev,
 librust-rustc-demangle-0.1-dev,
 librust-semver-1-dev,
 librust-serde-derive-1-dev,
 librust-serde-1-dev,
 librust-serde-json-1-dev,
 librust-serde-yaml-0.9-dev,
 librust-smallvec-1-dev,
 librust-spdx-0.13-dev,
 librust-tempfile-3-dev,
 librust-termcolor-1-dev,
 librust-thiserror-2-dev,
 librust-unicode-xid-0.2-dev,
 librust-url-2-dev,
 librust-wasm-encoder-0.239-dev,
 librust-wasmparser-0.239-dev,
 librust-wasmprinter-0.239-dev,
 librust-wast-239-dev,
 librust-wat-1-dev,
 libstring-shellquote-perl,
Maintainer: Jonas Smedegaard <dr@jones.dk>
Standards-Version: 4.7.4
Vcs-Git: https://salsa.debian.org/debian/wasm-tools.git
Vcs-Browser: https://salsa.debian.org/debian/wasm-tools
Homepage: https://github.com/bytecodealliance/wasm-tools
Description: low-level manipulation of WebAssembly modules
 wasm-tools is a collection of routines
 for working with wasm modules and component.

Package: librust-wasm-tools-dev
Architecture: all
#Multi-Arch: foreign
Depends:
 librust-anyhow-1-dev,
 librust-arbitrary-1-dev,
 librust-auditable-serde-0.9-dev,
 librust-bitflags-2-dev,
 librust-blake3-1-dev,
 librust-bytesize-2-dev,
 librust-clap-complete-4-dev,
 librust-clap-4-dev,
 librust-comfy-table-7-dev,
 librust-cpp-demangle-0.5-dev,
 librust-egg-0.6-dev,
 librust-env-logger-0.11-dev,
 librust-flagset-0.4-dev,
 librust-flate2-1-dev,
 librust-heck-0.5-dev,
 librust-id-arena-2-dev,
 librust-im-rc-15-dev,
 librust-indexmap-2-dev,
 librust-log-0.4-dev,
 librust-logos-0.15-dev,
 librust-petgraph-0.6-dev,
 librust-pretty-assertions-1-dev,
 librust-rand-0.10-dev,
 librust-rayon-1-dev,
 librust-regex-1-dev,
 librust-rustc-demangle-0.1-dev,
 librust-semver-1-dev,
 librust-serde-derive-1-dev,
 librust-serde-1-dev,
 librust-serde-json-1-dev,
 librust-serde-yaml-0.9-dev,
 librust-smallvec-1-dev,
 librust-spdx-0.13-dev,
 librust-tempfile-3-dev,
 librust-termcolor-1-dev,
 librust-thiserror-2-dev,
 librust-unicode-xid-0.2-dev,
 librust-url-2-dev,
 librust-wasm-encoder-0.239-dev,
 librust-wasmparser-0.239-dev,
 librust-wasmprinter-0.239-dev,
 librust-wast-239-dev,
 librust-wat-1-dev,
Provides:
 librust-json-from-wast-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-json-from-wast-0.239-dev (= ${rust:Version:zero-based}),
 librust-json-from-wast-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-json-from-wast-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239+oci-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+component-model-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+wasmparser-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-dev (= ${rust:Version:zero-based}),
 librust-wasm-tools-1+addr2line-dev (= ${binary:Version}),
 librust-wasm-tools-1+completion-dev (= ${binary:Version}),
 librust-wasm-tools-1+component-dev (= ${binary:Version}),
 librust-wasm-tools-1+compose-dev (= ${binary:Version}),
 librust-wasm-tools-1+default-dev (= ${binary:Version}),
 librust-wasm-tools-1+demangle-dev (= ${binary:Version}),
 librust-wasm-tools-1+dump-dev (= ${binary:Version}),
 librust-wasm-tools-1+json-from-wast-dev (= ${binary:Version}),
 librust-wasm-tools-1+metadata-dev (= ${binary:Version}),
 librust-wasm-tools-1+mutate-dev (= ${binary:Version}),
 librust-wasm-tools-1+objdump-dev (= ${binary:Version}),
 librust-wasm-tools-1+parse-dev (= ${binary:Version}),
 librust-wasm-tools-1+print-dev (= ${binary:Version}),
 librust-wasm-tools-1+shrink-dev (= ${binary:Version}),
 librust-wasm-tools-1+smith-dev (= ${binary:Version}),
 librust-wasm-tools-1+strip-dev (= ${binary:Version}),
 librust-wasm-tools-1+validate-dev (= ${binary:Version}),
 librust-wasm-tools-1+wast-dev (= ${binary:Version}),
 librust-wasm-tools-1+wit-smith-dev (= ${binary:Version}),
 librust-wasm-tools-1-dev (= ${binary:Version}),
 librust-wasm-tools-1.239.0-dev (= ${binary:Version}),
 librust-wasm-tools-dev (= ${binary:Version}),
 librust-wasm-wave-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-0.239+wit-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+dummy-module-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+semver-check-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+wat-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-component-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239+from-parser-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+decoding-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+wat-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-dev (= ${rust:Version:zero-based}),
Description:  ${source:Synopsis} - Rust source code
 ${source:Extended-Description}
 .
 This package contains the source for the Rust crates
 json-from-wast wasm-compose wasm-metadata wasm-mutate
 wasm-shrink wasm-smith wasm-tools wasm-wave
 wit-component wit-encoder wit-parser wit-smith,
 for use with cargo.

Package: wasm-tools
Architecture: any
Multi-Arch: allowed
Depends:
 ${cargo:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Built-Using:
 ${cargo:Built-Using},
Static-Built-Using:
 ${cargo:Static-Built-Using},
Description: ${source:Synopsis} - CLI tool
 ${source:Extended-Description}
 .
 The wasm-tools binary provides these routines as subcommands.
 .
 This package provides the command-line tool wasm-tools.
