Source: wasm-tools
Section: rust
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-bash-completion,
 dh-sequence-rust,
 cmark-gfm <!nodoc>,
 help2man,
 librust-addr2line-dev,
 librust-anyhow-dev,
 librust-arbitrary-dev,
 librust-auditable-serde-dev,
 librust-bitflags-dev,
 librust-blake3-dev,
 librust-bytesize-dev,
 librust-clap-complete-dev,
 librust-clap-dev,
 librust-comfy-table-dev,
 librust-cpp-demangle-dev,
 librust-egg-dev,
 librust-env-logger-dev,
 librust-flagset-dev,
 librust-flate2-dev,
 librust-gimli-dev,
 librust-glob-dev,
 librust-heck-dev,
 librust-id-arena-dev,
 librust-im-rc-dev,
 librust-indexmap-dev,
 librust-indoc-dev,
 librust-is-executable-dev,
 librust-itertools-dev,
 librust-libtest-mimic-dev,
 librust-log-dev,
 librust-logos-dev,
 librust-petgraph-dev,
 librust-pretty-assertions-dev,
 librust-rand-dev,
 librust-rayon-dev,
 librust-regex-dev,
 librust-rustc-demangle-dev,
 librust-semver-dev,
 librust-serde-derive-dev,
 librust-serde-dev,
 librust-serde-json-dev,
 librust-serde-yaml-dev,
 librust-smallvec-dev,
 librust-spdx-dev,
 librust-tempfile-dev,
 librust-termcolor-dev,
 librust-thiserror-dev,
 librust-unicode-xid-dev,
 librust-url-dev,
 librust-wasm-encoder-dev,
 librust-wasmparser-dev,
 librust-wasmprinter-dev,
 librust-wast-dev,
 librust-wat-dev,
 libstring-shellquote-perl,
Maintainer: Jonas Smedegaard <dr@jones.dk>
Standards-Version: 4.7.4
Vcs-Git: https://salsa.debian.org/debian/wasm-tools.git
Vcs-Browser: https://salsa.debian.org/debian/wasm-tools
Homepage: https://github.com/bytecodealliance/wasm-tools
Description: low-level manipulation of WebAssembly modules
 wasm-tools is a collection of routines
 for working with wasm modules and component.

Package: librust-wasm-tools-dev
Architecture: all
#Multi-Arch: foreign
Depends:
 librust-anyhow-dev,
 librust-arbitrary-dev,
 librust-auditable-serde-dev,
 librust-bitflags-dev,
 librust-blake3-dev,
 librust-clap-dev,
 librust-egg-dev,
 librust-flagset-dev,
 librust-flate2-dev,
 librust-heck-dev,
 librust-id-arena-dev,
 librust-im-rc-dev,
 librust-indexmap-dev,
 librust-log-dev,
 librust-logos-dev,
 librust-petgraph-dev,
 librust-pretty-assertions-dev,
 librust-rand-dev,
 librust-semver-dev,
 librust-serde-derive-dev,
 librust-serde-dev,
 librust-serde-json-dev,
 librust-serde-yaml-dev,
 librust-smallvec-dev,
 librust-spdx-dev,
 librust-tempfile-dev,
 librust-termcolor-dev,
 librust-thiserror-dev,
 librust-unicode-xid-dev,
 librust-url-dev,
 librust-wasm-encoder-dev,
 librust-wasmparser-dev,
 librust-wast-dev,
 librust-wat-dev,
 ${misc:Depends},
Provides:
 librust-json-from-wast-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-json-from-wast-0.239-dev (= ${rust:Version:zero-based}),
 librust-json-from-wast-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-compose-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239+oci-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-metadata-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-mutate-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-shrink-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+component-model-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239+wasmparser-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-smith-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wasm-tools-1.239+addr2line-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+completion-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+component-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+compose-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+default-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+demangle-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+dump-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+json-from-wast-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+metadata-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+mutate-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+objdump-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+parse-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+print-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+shrink-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+smith-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+strip-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+validate-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+wast-dev (= ${binary:Version}),
 librust-wasm-tools-1.239+wit-smith-dev (= ${binary:Version}),
 librust-wasm-tools-1.239-dev (= ${binary:Version}),
 librust-wasm-tools-1.239.0-dev (= ${binary:Version}),
 librust-wasm-wave-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-0.239+wit-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-0.239-dev (= ${rust:Version:zero-based}),
 librust-wasm-wave-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+dummy-module-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+semver-check-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239+wat-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-component-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239+from-parser-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239+serde-check-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-encoder-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+decoding-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+serde-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239+wat-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-parser-0.239.0-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-0.239+default-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-0.239-dev (= ${rust:Version:zero-based}),
 librust-wit-smith-0.239.0-dev (= ${rust:Version:zero-based}),
Description:  ${source:Synopsis} - Rust source code
 ${source:Extended-Description}
 .
 This package contains the source for the Rust crates
 json-from-wast wasm-compose wasm-metadata wasm-mutate
 wasm-shrink wasm-smith wasm-tools wasm-wave
 wit-component wit-encoder wit-parser wit-smith,
 for use with cargo.

Package: wasm-tools
Architecture: any
Multi-Arch: allowed
Depends:
 ${cargo:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Built-Using:
 ${cargo:Built-Using},
Static-Built-Using:
 ${cargo:Static-Built-Using},
Description: ${source:Synopsis} - CLI tool
 ${source:Extended-Description}
 .
 The wasm-tools binary provides these routines as subcommands.
 .
 This package provides the command-line tool wasm-tools.
