Source: wasm-tools
Section: rust
Build-Depends:
 debhelper-compat (= 14),
 dh-sequence-bash-completion,
 cargo,
 cmark-gfm <!nodoc>,
 help2man,
 libstring-shellquote-perl,
Maintainer: Jonas Smedegaard <dr@jones.dk>
Standards-Version: 4.7.4
Vcs-Git: https://salsa.debian.org/debian/wasm-tools.git
Vcs-Browser: https://salsa.debian.org/debian/wasm-tools
Homepage: https://github.com/bytecodealliance/wasm-tools
Description: low-level manipulation of WebAssembly modules
 wasm-tools is a collection of routines
 for working with wasm modules and component.

Package: wasm-tools
Architecture: any
Multi-Arch: allowed
Depends:
 ${shlibs:Depends},
Suggests:
 bash-completion,
Description: ${source:Synopsis} - CLI tool
 ${source:Extended-Description}
 .
 The wasm-tools binary provides these routines as subcommands.
 .
 This package provides the command-line tool wasm-tools.
